{% if page_obj.has_other_pages%}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous%}disabled{% endif %}">
            <a class="page-link" href="?{{url}}{%if page_obj.has_previous%}&page={{page_obj.previous_page_number}}{%endif%}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}

        <li class="page-item active">
            <a class="page-link" href="?{{url}}&page={{n}}">{{n}}</a>
        </li>

        {% else %}
        <li class="page-item">
            <a class="page-link" href="?{{url}}&page={{n}}">{{n}}</a>
        </li>

        {% endif %}
        {% endfor %}

        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="page-link" href="?{{url}}{%if page_obj.has_next%}&page={{page_obj.next_page_number}}{%endif%}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

{% endif %}