<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet" href="{% static 'bot_link/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Telegram bot</title>
</head>
<body>
<div class="wrapper">
        <div class="input-form">
            <form id="input-main">
                <input class="form-control" type="text" placeholder="Введите тег(и) или текст для поиска" {%if query_search%} value="{{query_search}}"{%endif%} name="search">



        <div id="checkboxes">

            {% for tag in all_tags%}
            <input type="checkbox" id="r{{forloop.counter}}" name="tag" {%if tag.tag_name in query_list%}checked{%endif%} autocomplete="off" value="{{tag.tag_name}}">
            <label class="whatever" for="r{{forloop.counter}}">{{tag.tag_name}} {{tag.tag_count}} </label>

            {%empty%}
            <strong>There is no tags</strong>
            {%endfor%}

        </div>
        <button type="submit" class="btn btn-primary">Показать</button>
    </form>
    <form>
        <button type="submit" class="btn btn-primary">Показать все</button>
    </form>
    </div>
{% include 'bot_link/includes/post_card.html'%}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'bot_link/js/main.js' %}"></script>
 </body>